/* PasswordManager.scss */
body {
  background-color: black;
  color: #fff;
  font-family: Arial, sans-serif;
}

.password-manager-container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: black; /* Change background color to black */
  color: #fff;
}
.password-display {
  display: flex;
  align-items: center;
}

.eye-icon {
  margin-left: 10px;
  cursor: pointer;
}

.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #333;
  border-right: 1px solid #555;
}

.sidebar-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-list-item:hover {
  background-color: #555;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.password-manager-title {
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #888;
  border-radius: 4px;
  background-color: #444;
  color: #fff;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(to right, #4facfe, #00f2fe); /* Example gradient colors */
  color: #fff;
  border: none;
  border-radius: 20px; /* Adjust border-radius for a more rounded button */
  transition: background-color 0.3s ease;
}

button:hover {
  background: linear-gradient(to right, #00f2fe, #4facfe); /* Adjust hover gradient if needed */
}


.selected-password {
  margin-top: 20px;
  padding: 10px;
  background-color: #666;
  border: 1px solid #888;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

li:hover {
  color: #007bff;
}
